
html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat';
  color: #000;
}

body,
figure,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

img {
  max-width: 100%;
  height: 100%;
}
